
table {
  width: 100%;
  table-layout: fixed;
}
.big{
    width: 150px;
}
.mat-elevation-z8{
  padding: 30px;
  border-radius: 10px;
}
.container{
  padding-top: 50px;
}
.create-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}
.bi-trash3-fill{
  color: red;
}
.donor-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.donor-header >  h2 {
    font-size: 30px;
    font-weight: 900;
}
