<nav *ngIf="isLoggedIn()" class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" *ngIf="setRoles('Admin')" href="#">Admin Dashboard</a>
    <a class="navbar-brand" *ngIf="setRoles('User')" href="#">User Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Donor</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" 
            *ngIf="setRoles('Admin')" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/admin']" >DashBoard</a>
            <a class="nav-link" aria-current="page" 
            *ngIf="setRoles('User')" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/user']" >DashBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" 
            *ngIf="setRoles('Admin')" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/admin/admin-users']" >Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"
            *ngIf="setRoles('Admin')"
          [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/admin/admin-donations']" >Donations</a>
            <a class="nav-link" routerLinkActive="active"
            *ngIf="setRoles('User')"
          [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/user/user-donations']" >Donations</a>
          </li>
        </ul>
          <button class="btn btn-outline-warning" type="submit" (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </div>
</nav>